{{#url}}
    <div class="activity-instance d-flex flex-column">
        <div class="activitytitle media {{textclasses}} modtype_{{modname}} position-relative align-self-start">
            <div class="activityiconcontainer {{purpose}} courseicon align-self-start mr-3">
                <img src="{{{icon}}}" class="activityicon " alt="{{{modname}}} icon">
            </div>
            <div class="media-body align-self-center">
                <div class="activityname">
                    {{#activityname}}
                        {{$ core/inplace_editable }}
                            {{> core/inplace_editable }}
                        {{/ core/inplace_editable }}
                    {{/activityname}}
                </div>
            </div>
        </div>
    </div>
{{/url}}
