.xund-roter-balken {
    width: 100%;
    font-family: Kiro-Bold, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0px 5px 20px;
    background-color: #EB4F5A;
    border-radius: 0.25rem;
}
.xund-blauer-balken {
    width: 100%;
    font-family: Kiro-Bold, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0px 5px 20px;
    background-color: #397BB5;
    border-radius: 0.25rem;
}
.xund-gruener-balken {
    width: 100%;
    font-family: Kiro-Bold, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0px 5px 20px;
    background-color: #65C1BE;
    border-radius: 0.25rem;
}