{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12 d-flex align-items-center">
                <section id="region-main" class="col-12" aria-label="{{#str}}content{{/str}}">
                    {{#logourl}}
                        <div class="login-logo">
                            <span class="sr-only">{{sitename}}: {{#str}} login {{/str}}</span>
                            <img src="{{logourl}}" class="img-fluid" alt=""/>
                        </div>
                    {{/logourl}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
