<div class="card dashboard-card" role="listitem"
    data-region="course-content"
    data-course-id="{{{id}}}">
    <a href="{{viewurl}}" tabindex="-1">
        <div class="card-img dashboard-card-img" style='background-image: url("{{{courseimage}}}");'>
            <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
        </div>
    </a>
    <div class="card-body pr-1 course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                <a href="{{viewurl}}" class="aalink coursename mr-2 text-uppercase h6">
                    {{> core_course/favouriteicon }}
                    <span class="sr-only">
                            {{#str}}aria:coursename, core_course{{/str}}
                        </span>
                    {{$coursename}}{{/coursename}}
                </a>
                <div class="text-muted muted d-flex mb-1 flex-wrap">
                    {{$coursecategory}}{{/coursecategory}}
                    {{#showshortname}}
                    {{$divider}}{{/divider}}
                    <span class="sr-only">
                        {{#str}}aria:courseshortname, core_course{{/str}}
                    </span>
                    <div>
                        {{{shortname}}}
                    </div>
                    {{/showshortname}}
                </div>
                {{^visible}}
                    <div class="d-flex flex-wrap">
                        <span class="badge badge-info">{{#str}} hiddenfromstudents {{/str}}</span>
                    </div>
                {{/visible}}
            </div>
            {{$menu}}{{/menu}}
        </div>
    </div>
    {{$progress}}{{/progress}}
</div>
