// Hide course image from view.
.coursebox .courseimage {
    display: none;
}

// Remove Boost small styles to category names.
.course_category_tree .category > .info > .categoryname {
    @include font-size($h3-font-size);
}

.coursebox {
    &.even {
        background-color: $gray-100;
    }

    > .info > .coursename {
        @include font-size($h4-font-size);
        font-weight: bold;
    }
}

.subcategories,
#frontpage-category-names,
#frontpage-category-combo {
    .coursebox > .info > .coursename a {
        padding-left: 25px;
        background-position: left 0.4em;
    }
}