#course-banner {
    background-color: rgba($primary, .25);
    background-size: 40px;
    height: 60px;
    @include media-breakpoint-up(md) {    
        height: 160px;
        background-size: 120px;
    }
}

// Full width header layout on course pages.
.pagelayout-course,
.pagelayout-incourse {
    #page.drawers #topofscroll,
    #page-header {
        padding-left: 0;
        padding-right: 0;
    }

    .page-context-header,
    #page-navbar,
    #page-content,
    .secondary-navigation {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include media-breakpoint-down(sm) {
        .page-context-header,
        #page-navbar,
        #page-content,
        .secondary-navigation {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.pagelayout-course {
    // Remove card and region borders.
    .card,
    #region-main {
        border: 0;
        padding-top: 0;
    }

    // Move block region alongside heading for large devices.
    @include media-breakpoint-up(xl) { 
        #page-header>.col-12.pt-3 {
            max-width: calc(100% - 375px);
            padding-bottom: 0 !important;
        }

        [data-region="blocks-column"] {
            position: relative;
            top: -153px;
            height: calc(100% + 169px);
            margin-right: -15px;
            background-color: $drawer-bg;
            width: 375px;
            padding-top: 15px;

            .block {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
    }
}

// Course index.
#courseindex-content {
    padding-left: 10px;
    padding-right: 10px;
}
.courseindex-section:focus {
    margin-bottom: 3px;
    margin-top: 3px;
}
.courseindex .courseindex-item,
.courseindex .courseindex-item.dimmed {
    background-color: #fff;
    padding: 0.75rem 1.25rem;
    border: 1px solid #f6f8f9;
    position: relative;

    .courseindex-link,
    .courseindex-chevron {
        color: $primary;
    }

    &:hover,
    &:focus {
        background-color: darken(#fff, 5%);

        .courseindex-link,
        .courseindex-chevron {
            color: $primary;
        }
    }

    &.restrictions .courseindex-locked {
        display: block;
        position: absolute;
        right: 0.75rem;

        >.icon {
            background-color: rgba(235,79,90,.5);
            vertical-align: middle;
            line-height: 20px;
            width: 20px;
            height: 20px;
            color: #fff;
            border-radius: 50%;
        }
    }
}

#page-course-view-topics {

    .section {
        .label {
            .contentwithoutlink {
                padding-right: 0;
            }
        }
    }

    // Activities.
    .activity-item:not(.activityinline) {
        padding: 0;
        border-radius: 5px;
        position: relative;

        .description {
            position: relative;
            padding: 0 1rem;

            .course-description-item.isrestricted {
                padding: 0.25rem 0.75rem;
                border-radius: 4px;
                background-color: rgba(235, 79, 90, .5);
                color: #fff;

                .icon {
                    vertical-align: middle;
                }
            }
        }
    }

    .activityiconcontainer {
        width: $activity-containericon-width;
        height: $activity-containericon-height;

        &.small {
            width: $activity-containericon-width - 10px;
            height: $activity-containericon-height - 10px;
        }
    }

    .activityname {
        font-size: $font-size-lg;
    }

    .activity-information {
        margin-top: 1.25rem;
        margin-right: 0.75rem;
    }

    .course-content .section-summary {
        border-radius: 5px;
    }

    .section.course-section {
        padding-top: 2.25rem;
        position: relative;

        .content>.description {
            display: inline-block;
            position: absolute;
            top: 1.5rem;
            right: 1.75rem;
            margin: 0 !important;

            .section_availability.course-description-item {
                padding: .25rem .75rem;
                background-color: rgba(235, 79, 90, .5);
                border-radius: 4px;

                .icon {
                    vertical-align: middle;
                }
            }

        }
    }
}