#course-banner {
    background-color: rgba($primary, .25);
    background-size: 40px;
    height: 60px;
    @include media-breakpoint-up(md) {    
        height: 160px;
        background-size: 120px;
    }
}

// Full width header layout on course pages.
.pagelayout-course,
.pagelayout-incourse {
    #page.drawers #topofscroll,
    #page-header {
        padding-left: 0;
        padding-right: 0;
    }

    #page {
        overflow-x: hidden;
    }

    .page-context-header,
    #page-navbar,
    #page-content,
    .secondary-navigation {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include media-breakpoint-down(sm) {
        .page-context-header,
        #page-navbar,
        #page-content,
        .secondary-navigation {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.pagelayout-course {
    // Remove card and region borders.
    .card,
    #region-main {
        border: 0;
        padding-top: 0;
    }

    // Move block region alongside heading for large devices.
    @include media-breakpoint-up(xl) { 
        #page-header>.col-12.pt-3 {
            max-width: calc(100% - 375px);
            padding-bottom: 0 !important;
        }

        [data-region="blocks-column"] {
            position: relative;
            top: -153px;
            height: calc(100% + 169px);
            margin-right: -15px;
            background-color: $drawer-bg;
            width: 375px;
            padding-top: 15px;

            .block {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
    }
}