// These are styles provided by the customer.
// The theme authors have had no participation in creating these styles.

.xund-roter-balken {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0px 5px 20px;
    background-color: #eb4f5a;
}
.xund-blauer-balken {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0px 5px 20px;
    background-color: #397bb5;;
}
.xund-gruener-balken {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    padding: 7px 0px 5px 20px;
    background-color: #65c1be;
}
.optiontext {color: black; font-size: 1.1rem;}
.qtext {color: black; font-size: 1.2rem;}
.book_content {font-size: 1.1rem;}
