#page-footer {
    .helplink .icon {
        margin-left: 0;
    }
    .footer-columns > .row > .col-sm-4:nth-child(1) {
        max-width: 20rem;
    }

    a {
        color: $white;
        text-decoration: underline;
    }
}

// Footer positioning at bottom of viewport.
#page-wrapper #page {
    min-height: calc(100vh - #{$navbar-height});

    #topofscroll {
        flex: 1;
    }
}