body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($primary);
    border-color: $primary;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200, true);

// Stop radius defaulting to zero.
.btn { 
    border-radius: $btn-border-radius;
}

.form-control {
    border-radius: $input-border-radius;
}

// Page spacing.
@include media-breakpoint-up(md) {
    #page.drawers {
        padding-left: 0;
        padding-right: 0;

        #topofscroll {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

@include media-breakpoint-down(md) {
    #page.drawers #topofscroll {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 100%;
    }
}

// Link and categories use suitable colour variables. 
.block .block-cards .btn-link {
    color: $link-color;
}
.block .block-cards span.categoryname {
    color: unset;
}

// Drawer toggles.
.drawer-toggles .drawer-toggler .btn {
    background-color: $secondary;
    color: #fff;
}

// Edit button.
.custom-control-label::before {
    background-color: #fff;
}
.custom-switch .custom-control-label::after {
    background-color: $secondary;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $secondary;
    background-color: $secondary;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
}

// Link colour just for body copy.
.generalbox p a {
    color: $body-link-color;
}