.pagelayout-mydashboard {
    // Remove block card border and heading card border.
    .block.card,
    #page-header .card {
        border: none;
    }

    // Alternate block background color.
    #block-region-content>.block:nth-child(odd) {
        background-color: darken($body-bg, 3%);
    }

    // Recently accessed courses.
    .block-recentlyaccessedcourses {
        // Style page links.
        .page-item.disabled .page-link,
        .page-link {
            border: 0;
            background-color: transparent;
        }
    }

    .block_myoverview>.card-body {
        // Move filters to same row for large devices.
        @include media-breakpoint-up(lg) {
            position: relative;
            [data-region="filter"] {
                position: absolute;
                top: 28px;
                right: 2rem;
            }
        }
    }
}

// Dashboard card styling.
.dashboard-card-deck .dashboard-card {
    border-radius: 0.75rem;
    border: 0;
    box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.15);

    .dashboard-card-img {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    }
}

// Consistent width dashboard cards.
body.drawer-open-left .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: 300px;
}