#nav-drawer {
    .list-group-item:hover {
        background-color: $primary;
        color: $white;
    }

    .list-group li {
        &.home,
        &.calendar,
        &.privatefiles {
            display: none;
        }
    }
}