.que .formulation {
  background-color: #f8f9fc;
  border-color: #f8f9fc;
  color: $body-copy-color;
  min-height: 250px;
}

.path-mod-quiz #region-main {
  .que {
    position: relative;
    h3.no {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9em;
    }
    .info {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 1rem;
      width: 150px;
      background-color: #f0f3f8;
      border-color: #f0f3f8;
    }

    .content {
      margin-left: 170px;
    }

    .qtext {
      font-size: unset;
      margin-bottom: 0.5em;
    }
  }
}

// Drag and drop basic styling.
.que.ddwtos .draghome,
.que.ddwtos .drop {
  border: 0 !important;
  box-sizing: content-box;
  padding: 0.25rem 1rem;
  text-align: left;
  border-radius: 0 !important;
}

.que.ddwtos {
  .group4 {
    background-color: #acdadc;
  }

  .group1 {
    background-color: #e8aaae;
  }
}

// Kprime question type.
.kprime {
  $font-size-large: 18px;
  $font-size-normal: 16px;

  .qtext {
    font-size: $font-size-large !important;
    color: #000;
  }

  .generaltable {
    font-size: $font-size-normal !important;
    color: $body-copy-color;

    input[type="radio"],
    input[type="checkbox"] {
      accent-color: $body-copy-color;
    }

    .icon.fa-check-square {
      color: $success;
      margin-left: 5px;
    }

    .icon.fa-remove {
      margin-left: 5px;
    }

    .kprimegreyingout {
      opacity: 1;
    }

    tr,
    td {
      border-bottom: 1px solid $body-copy-color;
      border-top: 0;
    }

    thead {
      th,
      td {
        border-bottom: 0;
        border-top: 0;
      }
    }

    tr {
      &:hover,
      &:nth-of-type(odd) {
        color: $body-copy-color;
        background-color: transparent;
      }
    }
  }
}

// Aggressive font-sizing for quiz.
.que .content * {
  font-size: 16px !important;
}
.que .content p[dir="ltr"] {
  font-size: 16px !important;
  direction: initial;
  unicode-bidi: initial;
}
// Quiz Questions
.que .qtext {
  h3,
  h4 {
    font-size: 22px !important;
    line-height: 1.3;
    color: $body-copy-color;
    font-weight: 700;
    margin-bottom: 0.75rem;

    a {
      font-size: inherit !important;
      color: inherit;
      text-decoration: none;
    }
  }
}
