.que .formulation {
  @include alert-variant(#F8F9FC, #F8F9FC, $body-copy-color);
  min-height: 250px;
}

.path-mod-quiz #region-main {
  .que {
    position: relative;
    h3.no {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9em;
    }
    .info {
      position: absolute;
      height: 100%;
      background-color: #F0F3F8;
      border-color: #F0F3F8;
    }

    .qtext {
      font-size: unset;
      margin-bottom: 0.5em;
    }
  }
}

// Drag and drop basic styling.
.que.ddwtos .draghome,
.que.ddwtos .drop {
  border: 0 !important;
  box-sizing: content-box;
  padding: 0.25rem 1rem;
  text-align: left;
  border-radius: 0 !important;
}

.que.ddwtos .group4 {
  background-color: #ACDADC;
}