.que .formulation {
  @include alert-variant(#F8F9FC, #F8F9FC, $body-copy-color);
  min-height: 250px;
}

.path-mod-quiz #region-main {
  .que {
    position: relative;
    h3.no {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9em;
    }
    .info {
      position: absolute;
      height: 100%;
      background-color: #F0F3F8;
      border-color: #F0F3F8;
    }

    .qtext {
      font-size: unset;
      margin-bottom: 0.5em;
    }
  }
}

// Drag and drop basic styling.
.que.ddwtos .draghome,
.que.ddwtos .drop {
  border: 0 !important;
  box-sizing: content-box;
  padding: 0.25rem 1rem;
  text-align: left;
  border-radius: 0 !important;
}

.que.ddwtos {
  .group4 {
    background-color: #ACDADC;
  }

  .group1 {
    background-color: #E8AAAE;
  }
}

// Kprime question type.
.kprime {
  $font-size-large: 18px;
  $font-size-normal: 16px;

  .qtext {
    font-size: $font-size-large !important;
    color: #000;
  }

  .generaltable {
    font-size:  $font-size-normal;
    color: $body-copy-color;

    input[type="radio"],
    input[type="checkbox"] {
      accent-color: $body-copy-color;
    }

    .icon.fa-check-square {
      color: $success;
      margin-left: 5px;

    }

    .icon.fa-remove {
      margin-left: 5px;
    }

    .kprimegreyingout {
      opacity: 1;
    }

    tr,
    td {
      border-bottom: 1px solid $body-copy-color;
      border-top: 0;
    }

    thead {
      th,
      td {
        border-bottom: 0;
        border-top: 0;
      }
    }

    tr {
      &:hover,
      &:nth-of-type(odd) {
        color: $body-copy-color;
        background-color: transparent;
      }
    }
  }
}